body {
	background-color: #f8f8f8;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 668px;
	background-color: #fff;
}

@media ( min-width :768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 200px;
		padding: 5px;
		/*border-left: 1px solid #e7e7e7;*/
	}
	#toggleMenu {
		display: none;
	}
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
	{
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: #eee;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li,.sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 37px;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 200px;
		/*margin-top: 51px;*/
		border-right: 1px solid #e7e7e7;
	}
	.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
		{
		margin-left: auto;
	}
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover
	{
	color: #fff;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon,.chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 25%;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled
	{
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class ^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.ellipsis,.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-fixed {
	table-layout: fixed;
}

.mt-5 {
	margin-top: 5px;
}

.mt-15 {
	margin-top: 15px;
}

.ml-5 {
	margin-left: 5px;
}

/*bootstrap-tagsinput 样式*/
.bootstrap-tagsinput {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	padding: 4px 6px;
	color: #555;
	vertical-align: middle;
	/*border-radius: 4px;*/
	width: 100%;
	line-height: 22px;
	cursor: text;
}

.bootstrap-tagsinput input {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: auto !important;
	max-width: inherit;
}

.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}

.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*覆盖bootstrap的部分样式*/
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	vertical-align: middle;
}

.modal-content,.form-control,.input-group-addon,.datepicker {
	border-radius: 0px !important;
}

.btn-xs {
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px;
}

.nav-sm li a {
	padding: 5px 15px;
}

.breadcrumb {
	margin-bottom: 10px;
}

.img-thumbnail {
	border-radius: 0px;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #e6e6e6;
}

.dropdown-menu-xs {
	font-size: 12px;
	min-width: 60px;
}

.dropdown-menu-xs .divider {
	margin: 5px 0 5px 0;
}

.tooltip.error {
	
}

.tooltip.error .tooltip-inner {
	color: #f2dede;
	background-color: #a94442;
	padding: 5px 10px;
}

.tooltip.error .tooltip-arrow {
	border-bottom-color: #a94442;
}
/*站点样式*/
#image_list {
	margin: 10px 0;
}

#image_list img {
	margin-bottom: 5px;
}

#image_list .delete {
	top: -8px;
	right: 0px;
	position: absolute;
}

#global_alert {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 0px;
	text-align: center;
	top: 0px;
	width: 100%;
	z-index: 1999;
	cursor: pointer;
}

.input-simple {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.input-underline {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
}

.search-select .select2-selection__rendered {
	color: #999 !important;
	font-style: italic;
	line-height: 32px !important;
}

.search-select .select2-selection--single {
	height: 34px !important;
}

td.selected {
	color: green;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f00c";
	margin-left: 10px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

.page-header-sm,.area-header {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

/* uploadify >>*/
.uploadify {
	position: relative;
	margin-bottom: 1em;
}

.uploadify-queue {
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: left;
}

.uploadify-queue-item {
	background-color: #F5F5F5;
	font: 11px Verdana, Geneva, sans-serif;
	max-width: 350px;
	padding: 5px 10px 5px 10px;
}

.uploadify-error {
	background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
	background: url('/plugins/uploadify/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
	content: none;
}

.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}

.uploadify-queue-item.completed .cancel a {
	display: none;
}

.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}

.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
/* << uploadify */
#nav-haeader {
	padding: 15px;
	border-bottom: solid 5px #337ab7;
}

#toggleMenu {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 70px;
	height: 48px;
	float: right;
	margin: -1em -2em 0 0;
	text-indent: -9999px;
	overflow: hidden;
	background: #337ab7 url("/res/img/hamburger.gif") no-repeat 50% 50%;
}

@media ( max-width : 768px) {
	#nav-haeader {
		background-color: #fff;
	}
}